<button class="show" (click)="showForm = true" *ngIf="!showForm">
  Show Form
</button>

<form
  *ngIf="showForm"
  #myForm="ngForm"
  (ngSubmit)="onAddHotel()"
  class="form-container"
>
  <div class="form-group">
    <label for="name">id</label>

    <input
      type="number"
      class="form-control"
      name="id"
      [(ngModel)]="formData.id"
      required
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>

    <input
      type="text"
      class="form-control"
      name="name"
      [(ngModel)]="formData.name"
      required
    />
  </div>

  <div class="form-group">
    <label for="descriotion">Type of Room</label>

    <label>
      <input
        type="radio"
        name="roomType"
        value="ac"
        [(ngModel)]="formData.type"
      />
      Air Conditioned (AC) Room
    </label>
    <br />
    <label>
      <input
        type="radio"
        name="roomType"
        value="non-ac"
        [(ngModel)]="formData.type"
      />
      Non-Air Conditioned (Non-AC) Room
    </label>
  </div>

  <div class="form-group">
    <label for="name">Price</label>

    <input
      type="text"
      class="form-control"
      name="price"
      [(ngModel)]="formData.price"
      required
    />
  </div>

  <div class="form-group">
    <label for="name">Location</label>

    <input
      type="text"
      class="form-control"
      name="location"
      [(ngModel)]="formData.location"
      required
    />
  </div>
  <div class="form-group">
    <label for="name">Rating</label>

    <input
      type="text"
      class="form-control"
      name="rating"
      [(ngModel)]="formData.rating"
      required
    />
  </div>

  <div class="form-group">
    <label for="name">hasLounge</label>
    <input
      type="checkbox"
      class="form-control"
      name="Lounge"
      [(ngModel)]="formData.hasLounge"
      id="lounge"
    />
  </div>

  <div class="form-group">
    <label for="name">hasParking</label>
    <input
      type="checkbox"
      class="form-control"
      name="Parking"
      [(ngModel)]="formData.hasParking"
      id="parking"
    />
  </div>

  <button type="submit" class="btn btn-primary">Add Hotel</button>

  <button class="btn btn-secondary" (click)="hideForm()">Hide Form</button>
</form>
